---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;


.more-info {
  text-align: right;
}



body {
  font-family: "Harding";
  font-size: 14pt;
  font-weight: 400;
}

.nav-item {
  font-family: "Poppins";
}

.site-name {
  font-family: "Ananda Black", cursive;
}

code, kbd, pre, samp {
  font-family: "MPLUS1Code", monospace;
  font-size: 0.9em;
}

.navbar-nav .nav-link {
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: small;
  font-weight: 400;
}

.card-title {
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 1.5rem;
}

.post-title {
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 1.6rem;
}

.desc {
  font-family: "Poppins";
  font-weight: 400;
}

b {
  font-weight: bold;
}

.location {
  color: gray;
}

.font-weight-semi {
  font-weight: 500;
}


.text-uppercase {
  text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6{
  font-weight:400;
}
